body {
  -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
  -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
  -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
  animation: -amp-start 8s steps(1, end) 0s 1 normal both;
}
@-webkit-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-moz-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-ms-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-o-keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes -amp-start {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.cid-sSAhB3BjCy.popup-builder {
  background-color: #ffffff;
}
.cid-sSAhB3BjCy.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-sSAhB3BjCy.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-sSAhB3BjCy .modal-content,
.cid-sSAhB3BjCy .modal-dialog {
  height: auto;
}
.cid-sSAhB3BjCy .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-sSAhB3BjCy .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-sSAhB3BjCy .form-wrapper .mbr-form .form-group,
  .cid-sSAhB3BjCy .form-wrapper .mbr-form .input-group-btn {
    padding: 0 0.5rem;
  }
}
.cid-sSAhB3BjCy .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-sSAhB3BjCy .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sSAhB3BjCy .mbr-text {
  text-align: center;
}
.cid-sSAhB3BjCy .pt-0 {
  padding-top: 0 !important;
}
.cid-sSAhB3BjCy .pb-0 {
  padding-bottom: 0 !important;
}
.cid-sSAhB3BjCy .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-sSAhB3BjCy .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-sSAhB3BjCy .modal-open {
  overflow: hidden;
}
.cid-sSAhB3BjCy .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-sSAhB3BjCy .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-sSAhB3BjCy .modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.cid-sSAhB3BjCy .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-sSAhB3BjCy .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-sSAhB3BjCy .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}
.cid-sSAhB3BjCy .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (0.5rem * 2));
  content: "";
}
.cid-sSAhB3BjCy .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-sSAhB3BjCy .margin-center-pos {
  margin-top: auto;
  margin-bottom: auto;
}
.cid-sSAhB3BjCy .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-sSAhB3BjCy .modal-backdrop.fade {
  opacity: 0;
}
.cid-sSAhB3BjCy .modal-backdrop.show {
  opacity: 0.5;
}
.cid-sSAhB3BjCy .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-sSAhB3BjCy .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sSAhB3BjCy .modal-header {
    padding: 1rem;
  }
}
.cid-sSAhB3BjCy .modal-header .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: 0.75;
}
.cid-sSAhB3BjCy .modal-header .close svg {
  fill: #353535;
}
.cid-sSAhB3BjCy .modal-header .close:hover {
  opacity: 1;
}
.cid-sSAhB3BjCy .modal-header .close:focus {
  outline: none;
}
.cid-sSAhB3BjCy .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-sSAhB3BjCy .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .cid-sSAhB3BjCy .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sSAhB3BjCy .modal-body {
    padding: 1rem;
  }
}
.cid-sSAhB3BjCy .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-sSAhB3BjCy .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sSAhB3BjCy .modal-footer {
    padding: 1rem;
  }
}
.cid-sSAhB3BjCy .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-sSAhB3BjCy .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-sSAhB3BjCy .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-sSAhB3BjCy .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-sSAhB3BjCy .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .cid-sSAhB3BjCy .modal-lg,
  .cid-sSAhB3BjCy .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .cid-sSAhB3BjCy .modal-xl {
    max-width: 1140px;
  }
}
.cid-sSAhB3BjCy .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-sSAhB3BjCy .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-sSAhB3BjCy .form-group {
  margin-bottom: 1rem;
}
.cid-sSAhB3BjCy .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-sSAhB3BjCy .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-sSAhB3BjCy .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-sSAhB3BjCy .mbr-section-btn {
  margin: 0;
}
.cid-sSAhB3BjCy .mbr-section-btn .btn {
  margin: 0;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
ol,
ul,
li,
figcaption,
textarea,
input {
  font: inherit;
}
section {
  background-color: #eeeeee;
}
section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word;
}
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
a.mbr-iconfont:hover {
  text-decoration: none;
}
.article .lead p,
.article .lead ul,
.article .lead ol,
.article .lead pre,
.article .lead blockquote {
  margin-bottom: 0;
}
a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
a,
a:hover {
  text-decoration: none;
}
figure {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4 {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  padding: 10px 0 10px 20px;
  position: relative;
  border-left: 2px solid;
  border-color: #ff3366;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-delay: 9999s;
  transition-property: background-color, color;
}
textarea[type="hidden"] {
  display: none;
}
body {
  position: relative;
}
section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
section .mbr-background-video,
section .mbr-background-video-preview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
.hidden {
  visibility: hidden;
}
.mbr-z-index20 {
  z-index: 20;
}
.mbr-white {
  color: #ffffff;
}
.mbr-black {
  color: #000000;
}
.mbr-bg-white {
  background-color: #ffffff;
}
.mbr-bg-black {
  background-color: #000000;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
@media (max-width: 767px) {
  .align-left,
  .align-center,
  .align-right,
  .mbr-section-btn,
  .mbr-section-title {
    text-align: center;
  }
}
.mbr-light {
  font-weight: 300;
}
.mbr-regular {
  font-weight: 400;
}
.mbr-semibold {
  font-weight: 500;
}
.mbr-bold {
  font-weight: 700;
}
.mbr-figure img,
.mbr-figure iframe {
  display: block;
  width: 100%;
}
.card {
  background-color: transparent;
  border: none;
}
.card-wrapper {
  -webkit-flex: 1;
  flex: 1;
}
.card-img {
  text-align: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.media {
  max-width: 100%;
  margin: 0 auto;
}
.mbr-figure {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.media-container > div {
  max-width: 100%;
}
.mbr-figure img,
.card-img img {
  width: 100%;
}
@media (max-width: 991px) {
  .media-size-item {
    width: auto;
  }
  .media {
    width: auto;
  }
  .mbr-figure {
    width: 100%;
  }
}
.mbr-section-btn {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  font-size: 0;
}
nav .mbr-section-btn {
  margin-left: 0rem;
  margin-right: 0rem;
}
.btn .mbr-iconfont,
.btn.btn-sm .mbr-iconfont {
  cursor: pointer;
  margin-right: 0.5rem;
}
.btn.btn-md .mbr-iconfont,
.btn.btn-md .mbr-iconfont {
  margin-right: 0.8rem;
}
[type="submit"] {
  -webkit-appearance: none;
}
.mbr-fullscreen .mbr-overlay {
  min-height: 100vh;
}
.mbr-fullscreen {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.mbr-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
amp-img img {
  max-height: 100%;
  max-width: 100%;
}
img.mbr-temp {
  width: 100%;
}
.super-hide {
  display: none;
}
.is-builder .nodisplay + img[async],
.is-builder .nodisplay + img[decoding="async"],
.is-builder amp-img > a + img[async],
.is-builder amp-img > a + img[decoding="async"] {
  display: none;
}
html:not(.is-builder) amp-img > a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.is-builder .temp-amp-sizer {
  position: absolute;
}
.is-builder amp-youtube .temp-amp-sizer,
.is-builder amp-vimeo .temp-amp-sizer {
  position: static;
}
.is-builder section.horizontal-menu .ampstart-btn {
  display: none;
}
@media (max-width: 991px) {
  .is-builder section.horizontal-menu .navbar-toggler {
    display: block;
  }
}
.is-builder section.horizontal-menu .dropdown-menu {
  z-index: auto;
  opacity: 1;
  pointer-events: auto;
}
.is-builder
  section.horizontal-menu
  .nav-dropdown
  .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1em;
}
@media (max-width: 767px) {
  .is-builder section.menu .navbar-collapse {
    max-height: 60vh;
    overflow-y: auto;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.mbr-row,
.mbr-form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.mbr-form-row {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.mbr-form-row > [class*="mbr-col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.mbr-justify-content-center {
  -webkit-justify-content: center;
  justify-content: center;
}
.mbr-justify-content-left {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.mbr-justify-content-right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .mbr-col,
  .mbr-col-auto {
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-sm-6 {
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mbr-col-sm-12 {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-row,
  .mbr-form-row {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .mbr-col {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-md-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-md-3 {
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-md-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-md-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-md-6 {
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-md-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-md-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mbr-col-md-9 {
    -ms-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mbr-col-md-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mbr-col-md-12 {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .mbr-col {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-lg-3 {
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-lg-4 {
    -ms-flex: 0 0 33.33%;
    -webkit-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-lg-5 {
    -ms-flex: 0 0 41.666%;
    -webkit-flex: 0 0 41.666%;
    flex: 0 0 41.666%;
    max-width: 41.666%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-lg-6 {
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mbr-col-lg-9 {
    -ms-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mbr-col-lg-10 {
    -ms-flex: 0 0 83.3333%;
    -webkit-flex: 0 0 83.3333%;
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-lg-12 {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1201px) {
  .mbr-col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mbr-col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mbr-col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}
.amp-carousel-button:hover {
  cursor: pointer;
}
amp-sidebar {
  background: transparent;
}
#scrollToTopMarker {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 300px;
}
#scrollToTopButton {
  position: fixed;
  bottom: 25px;
  right: 25px;
  opacity: 0.4;
  z-index: 5000;
  font-size: 32px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#scrollToTopButton:focus {
  outline: none;
}
#scrollToTopButton a:before {
  content: "";
  position: absolute;
  height: 40%;
  top: 36%;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTopButton a:after {
  content: "";
  position: absolute;
  border-top: 2px solid;
  border-right: 2px solid;
  width: 40%;
  height: 40%;
  left: calc(30% - 1px);
  bottom: 30%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.is-builder #scrollToTopButton a:after {
  left: 30%;
}
.btn .iconfont-wrapper {
  border-left: 1px solid white;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}
.btn .iconfont-wrapper .mbr-iconfont {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
}
.hidden-slide {
  display: none;
}
.visible-slide {
  display: flex;
}
.form-check {
  margin-bottom: 0;
}
.form-check-label {
  padding-left: 0;
}
.form-check-input {
  position: relative;
  margin: 4px;
}
.form-check-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}
.note-popover .btn::after {
  display: none;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  color: #29282d;
}
div[submit-success] > * {
  background: #45b87e;
  color: #ffffff;
}
div[submit-error] > * {
  background: #000000;
  color: #ffffff;
}
h1 {
  letter-spacing: 20px;
  margin-bottom: 3rem;
}
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 3px;
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
  line-height: 1.2;
}
p {
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  font-style: normal;
  line-height: 1.2;
}
.mbr-text {
  font-style: normal;
  line-height: 1.5;
}
.display-2 {
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
}
.display-3 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}
.display-4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
}
.display-5 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}
.display-6 {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8rem;
}
.display-7 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
}
.mbr-form input,
.mbr-form textarea,
.mbr-form textarea {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}
.display-2 .mbr-iconfont-btn {
  font-size: 5rem;
  width: 5rem;
}
.display-3 .mbr-iconfont-btn {
  font-size: 2rem;
  width: 2rem;
}
.display-4 .mbr-iconfont-btn {
  font-size: 1.2rem;
  width: 1.2rem;
}
.display-5 .mbr-iconfont-btn {
  font-size: 1rem;
  width: 1rem;
}
.display-6 .mbr-iconfont-btn {
  font-size: 0.8rem;
  width: 0.8rem;
}
.display-7 .mbr-iconfont-btn {
  font-size: 1.2rem;
  width: 1.2rem;
}
@media (max-width: 768px) {
  .display-2 {
    font-size: 4rem;
    font-size: calc(2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.4 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-3 {
    font-size: 1.6rem;
    font-size: calc(1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc(1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc(1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-6 {
    font-size: 0.64rem;
    font-size: calc(0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc(1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)))
    );
  }
}
.btn {
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  font-style: normal;
  letter-spacing: 0px;
  white-space: normal;
  transition: all 0.3s ease-in-out, box-shadow 2s ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 0.8rem 2rem;
  border-radius: 3px;
}
.btn:hover {
  cursor: pointer;
}
.btn-sm {
  border: 1px solid;
  letter-spacing: 0px;
  padding: 0.6rem 0.8rem;
  border-radius: 3px;
}
.btn-md {
  letter-spacing: 0px;
  padding: 1rem 2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #f34e3a;
}
.bg-success {
  background-color: #45b87e;
}
.bg-info {
  background-color: #6d85e1;
}
.bg-warning {
  background-color: #0a193b;
}
.bg-danger {
  background-color: #000000;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #f34e3a;
  border-color: #f34e3a;
  color: #ffffff;
}
.btn-primary svg,
.btn-primary:active svg,
.btn-primary.active svg {
  fill: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #f34e3a;
  background: none;
  border-color: #f34e3a;
}
.btn-primary:hover svg,
.btn-primary:focus svg,
.btn-primary.focus svg {
  fill: #f34e3a;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff;
  background-color: #f34e3a;
  border-color: #f34e3a;
}
.btn-primary.disabled svg,
.btn-primary:disabled svg {
  fill: #ffffff;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #4fc6cd;
  border-color: #4fc6cd;
  color: #ffffff;
}
.btn-secondary svg,
.btn-secondary:active svg,
.btn-secondary.active svg {
  fill: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #4fc6cd;
  background: none;
  border-color: #4fc6cd;
}
.btn-secondary:hover svg,
.btn-secondary:focus svg,
.btn-secondary.focus svg {
  fill: #4fc6cd;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff;
  background-color: #4fc6cd;
  border-color: #4fc6cd;
}
.btn-secondary.disabled svg,
.btn-secondary:disabled svg {
  fill: #ffffff;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #6d85e1;
  border-color: #6d85e1;
  color: #ffffff;
}
.btn-info svg,
.btn-info:active svg,
.btn-info.active svg {
  fill: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #6d85e1;
  background: none;
  border-color: #6d85e1;
}
.btn-info:hover svg,
.btn-info:focus svg,
.btn-info.focus svg {
  fill: #6d85e1;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff;
  background-color: #6d85e1;
  border-color: #6d85e1;
}
.btn-info.disabled svg,
.btn-info:disabled svg {
  fill: #ffffff;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #45b87e;
  border-color: #45b87e;
  color: #ffffff;
}
.btn-success svg,
.btn-success:active svg,
.btn-success.active svg {
  fill: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #45b87e;
  background: none;
  border-color: #45b87e;
}
.btn-success:hover svg,
.btn-success:focus svg,
.btn-success.focus svg {
  fill: #45b87e;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff;
  background-color: #45b87e;
  border-color: #45b87e;
}
.btn-success.disabled svg,
.btn-success:disabled svg {
  fill: #ffffff;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #0a193b;
  border-color: #0a193b;
  color: #ffffff;
}
.btn-warning svg,
.btn-warning:active svg,
.btn-warning.active svg {
  fill: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #0a193b;
  background: none;
  border-color: #0a193b;
}
.btn-warning:hover svg,
.btn-warning:focus svg,
.btn-warning.focus svg {
  fill: #0a193b;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff;
  background-color: #0a193b;
  border-color: #0a193b;
}
.btn-warning.disabled svg,
.btn-warning:disabled svg {
  fill: #ffffff;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-danger svg,
.btn-danger:active svg,
.btn-danger.active svg {
  fill: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #000000;
  background: none;
  border-color: #000000;
}
.btn-danger:hover svg,
.btn-danger:focus svg,
.btn-danger.focus svg {
  fill: #000000;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-danger.disabled svg,
.btn-danger:disabled svg {
  fill: #ffffff;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black svg,
.btn-black:active svg,
.btn-black.active svg {
  fill: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #333333;
  background: none;
  border-color: #333333;
}
.btn-black:hover svg,
.btn-black:focus svg,
.btn-black.focus svg {
  fill: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled svg,
.btn-black:disabled svg {
  fill: #ffffff;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
}
.btn-white svg,
.btn-white:active svg,
.btn-white.active svg {
  fill: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background: none;
  border-color: #ffffff;
}
.btn-white:hover svg,
.btn-white:focus svg,
.btn-white.focus svg {
  fill: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled svg,
.btn-white:disabled svg {
  fill: #808080;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  color: #333333;
}
.btn-white svg,
.btn-white:active svg,
.btn-white.active svg {
  fill: #333333;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #333333;
}
.btn-white:hover svg,
.btn-white:focus svg,
.btn-white.focus svg {
  fill: #333333;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #333333;
}
.btn-white.disabled svg,
.btn-white:disabled svg {
  fill: #333333;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #f34e3a;
  color: #f34e3a;
}
.btn-primary-outline svg,
.btn-primary-outline:active svg,
.btn-primary-outline.active svg {
  fill: #f34e3a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #fff;
  background-color: #f34e3a;
  border-color: #f34e3a;
}
.btn-primary-outline:hover svg,
.btn-primary-outline:focus svg,
.btn-primary-outline.focus svg {
  fill: #fff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff;
  background-color: #f34e3a;
  border-color: #f34e3a;
}
.btn-primary-outline.disabled svg,
.btn-primary-outline:disabled svg {
  fill: #ffffff;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #4fc6cd;
  color: #4fc6cd;
}
.btn-secondary-outline svg,
.btn-secondary-outline:active svg,
.btn-secondary-outline.active svg {
  fill: #4fc6cd;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #fff;
  background-color: #4fc6cd;
  border-color: #4fc6cd;
}
.btn-secondary-outline:hover svg,
.btn-secondary-outline:focus svg,
.btn-secondary-outline.focus svg {
  fill: #fff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff;
  background-color: #4fc6cd;
  border-color: #4fc6cd;
}
.btn-secondary-outline.disabled svg,
.btn-secondary-outline:disabled svg {
  fill: #ffffff;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #6d85e1;
  color: #6d85e1;
}
.btn-info-outline svg,
.btn-info-outline:active svg,
.btn-info-outline.active svg {
  fill: #6d85e1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #fff;
  background-color: #6d85e1;
  border-color: #6d85e1;
}
.btn-info-outline:hover svg,
.btn-info-outline:focus svg,
.btn-info-outline.focus svg {
  fill: #fff;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff;
  background-color: #6d85e1;
  border-color: #6d85e1;
}
.btn-info-outline.disabled svg,
.btn-info-outline:disabled svg {
  fill: #ffffff;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #45b87e;
  color: #45b87e;
}
.btn-success-outline svg,
.btn-success-outline:active svg,
.btn-success-outline.active svg {
  fill: #45b87e;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #fff;
  background-color: #45b87e;
  border-color: #45b87e;
}
.btn-success-outline:hover svg,
.btn-success-outline:focus svg,
.btn-success-outline.focus svg {
  fill: #fff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff;
  background-color: #45b87e;
  border-color: #45b87e;
}
.btn-success-outline.disabled svg,
.btn-success-outline:disabled svg {
  fill: #ffffff;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #0a193b;
  color: #0a193b;
}
.btn-warning-outline svg,
.btn-warning-outline:active svg,
.btn-warning-outline.active svg {
  fill: #0a193b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #fff;
  background-color: #0a193b;
  border-color: #0a193b;
}
.btn-warning-outline:hover svg,
.btn-warning-outline:focus svg,
.btn-warning-outline.focus svg {
  fill: #fff;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff;
  background-color: #0a193b;
  border-color: #0a193b;
}
.btn-warning-outline.disabled svg,
.btn-warning-outline:disabled svg {
  fill: #ffffff;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline svg,
.btn-danger-outline:active svg,
.btn-danger-outline.active svg {
  fill: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.btn-danger-outline:hover svg,
.btn-danger-outline:focus svg,
.btn-danger-outline.focus svg {
  fill: #fff;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-danger-outline.disabled svg,
.btn-danger-outline:disabled svg {
  fill: #ffffff;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline svg,
.btn-black-outline:active svg,
.btn-black-outline.active svg {
  fill: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #fff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline:hover svg,
.btn-black-outline:focus svg,
.btn-black-outline.focus svg {
  fill: #fff;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled svg,
.btn-black-outline:disabled svg {
  fill: #ffffff;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline svg,
.btn-white-outline:active svg,
.btn-white-outline.active svg {
  fill: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white-outline:hover svg,
.btn-white-outline:focus svg,
.btn-white-outline.focus svg {
  fill: #333333;
}
.text-primary {
  color: #f34e3a;
}
.text-secondary {
  color: #4fc6cd;
}
.text-success {
  color: #45b87e;
}
.text-info {
  color: #6d85e1;
}
.text-warning {
  color: #0a193b;
}
.text-danger {
  color: #000000;
}
.text-white {
  color: #ffffff;
}
.text-black {
  color: #000000;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #bc1e0b;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #28888e;
}
a.text-success:hover,
a.text-success:focus {
  color: #296e4b;
}
a.text-info:hover,
a.text-info:focus {
  color: #2847c0;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #000000;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #000000;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d;
}
.alert-success {
  background-color: #45b87e;
}
.alert-info {
  background-color: #6d85e1;
}
.alert-warning {
  background-color: #0a193b;
}
.alert-danger {
  background-color: #000000;
}
.btn-form {
  border-radius: 3px;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #f34e3a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fffbfa;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a1dcbe;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #4a78e0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b3b3b3;
}
blockquote {
  padding: 10px 0 10px 20px;
  position: relative;
  border-color: #f34e3a;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 0;
  margin-top: 0;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.popover-content ul.show {
  min-height: 155px;
}
#scrollToTop {
  display: none;
}
section.sidebar-open:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1040;
}
form input,
form textarea,
form select {
  padding: 1rem;
  border: 1px solid #e0e0e0;
  background: #f3f4f5;
  width: 100%;
}
form input:focus,
form textarea:focus,
form select:focus {
  outline: none;
}
form input[type="checkbox"],
form input[type="radio"] {
  border: none;
  background: none;
  width: auto;
}
form .field {
  padding-top: 10px;
  padding-bottom: 10px;
}
form textarea.field-input {
  height: 158px;
}
form .fieldset {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}
form .btn,
form .mbr-section-btn {
  margin-left: 0;
  margin-right: 0;
}
div[submit-success] > * {
  background: #45b87e;
  padding: 1rem;
  margin-bottom: 1rem;
}
div[submit-error] > * {
  background: #000000;
  padding: 1rem;
  margin-bottom: 1rem;
}
.mobirise-spinner {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: 10%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  z-index: 4;
}
.mobirise-spinner em {
  width: 24px;
  height: 24px;
  background: #3ac;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: slide 1s infinite;
}
.mobirise-spinner em:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  background: #f34e3a;
}
.mobirise-spinner em:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  background: #4fc6cd;
}
.mobirise-spinner em:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  background: #45b87e;
}
@-moz-keyframes slide {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-o-keyframes slide {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
.mobirise-loader .amp-active > div {
  display: none;
}
.mbr-iconfont-btn {
  display: inline-block;
  transition: border-color 0.1s;
}
.btn {
  height: 50px;
  padding: 0px;
  overflow: hidden;
  letter-spacing: 3px;
  padding-left: 20px;
  box-sizing: content-box;
  margin-right: 10px;
  margin-left: 10px;
}
.btn:hover .iconfont-wrapper {
  border-color: transparent;
}
.mbr-iconfont-btn {
  transition: transform 0.2s;
}
.btn:hover .mbr-iconfont-btn {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.btn-primary-outline .mbr-iconfont-btn,
.btn-secondary-outline .mbr-iconfont-btn,
.btn-info-outline .mbr-iconfont-btn,
.btn-success-outline .mbr-iconfont-btn,
.btn-warning-outline .mbr-iconfont-btn,
.btn-danger-outline .mbr-iconfont-btn,
.btn-black-outline .mbr-iconfont-btn,
.btn-white-outline .mbr-iconfont-btn {
  border-color: transparent;
}
.btn-primary-outline:hover .mbr-iconfont-btn,
.btn-secondary-outline:hover .mbr-iconfont-btn,
.btn-info-outline:hover .mbr-iconfont-btn,
.btn-success-outline:hover .mbr-iconfont-btn,
.btn-warning-outline:hover .mbr-iconfont-btn,
.btn-danger-outline:hover .mbr-iconfont-btn,
.btn-black-outline:hover .mbr-iconfont-btn,
.btn-white-outline:hover .mbr-iconfont-btn {
  border-color: white;
}
label {
  margin-bottom: 0;
}
.btn-white {
  border-width: 0px;
  background: none;
  color: #f34e3a;
}
.btn-white:hover {
  color: #f34e3a;
  background-color: transparent;
}
.btn-white:focus {
  color: #f34e3a;
  background-color: transparent;
}
.btn-white:active {
  color: #f34e3a;
  background-color: transparent;
}
.btn-white .mbr-iconfont-btn {
  padding-left: 0px;
  border-left: none;
}
.btn-arrow {
  border-width: 0px;
  background: none;
}
.btn-arrow .mbr-iconfont-btn {
  padding-left: 0px;
  border-left: none;
}
#scrollToTopMarker {
  display: none;
}
#scrollToTopButton {
  background-color: #f34e3a;
}
#scrollToTopButton a:before {
  background: #ffffff;
}
#scrollToTopButton a:after {
  border-top-color: #ffffff;
  border-right-color: #ffffff;
}
.cid-rzHB9j7bIW {
  background-image: url("assets/images/ditadavin-bg-01.jpg");
}
.cid-rzHB9j7bIW .mbr-overlay {
  background-color: #000000;
  opacity: 0.3;
}
.cid-rzHB9j7bIW .container-fluid {
  padding: 4rem;
}
@media (max-width: 576px) {
  .cid-rzHB9j7bIW .container-fluid {
    padding: 1rem;
  }
}
.cid-rzHB9j7bIW .mbr-text,
.cid-rzHB9j7bIW .mbr-section-btn {
  color: #f7f7f7;
}
.cid-rzHASaHwsl {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}
.cid-rzHASaHwsl .mbr-section-title {
  color: #29282d;
}
.cid-rzHASaHwsl .mbr-text,
.cid-rzHASaHwsl .mbr-section-btn {
  color: #29282d;
}
.cid-rzHASaHwsl .btn {
  margin-bottom: 1rem;
}
.cid-rzHANZq0HC {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-rzHANZq0HC .container-fluid,
.cid-rzHANZq0HC .mbr-row {
  padding: 0;
  margin: 0;
}
.cid-rzHANZq0HC .card {
  padding: 0;
  overflow: hidden;
  border-radius: 0;
  width: 100%;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rzHANZq0HC .vcenter {
  margin: auto;
}
.cid-rzHANZq0HC amp-img {
  transition: all 0.3s;
  width: 110%;
}
.cid-rzHANZq0HC amp-img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.cid-rzHANZq0HC .card1 {
  background: #f34e3a;
}
.cid-rzHANZq0HC .card2 {
  background: #29282d;
}
.cid-rzHANZq0HC .card-box {
  padding: 2rem;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 1200px) {
  .cid-rzHANZq0HC .card-box {
    padding: 1rem;
  }
}
@media (max-width: 992px) {
  .cid-rzHANZq0HC .card-box {
    padding: 2rem;
  }
}
.cid-rzHANZq0HC .card-sub-title1 {
  color: #ffffff;
}
.cid-rzHANZq0HC .card-sub-title2 {
  color: #f34e3a;
}
.cid-rzHANZq0HC .card-title2 {
  color: #ffffff;
}
.cid-rzHANZq0HC .card-title1 {
  color: #ffffff;
}
.cid-rzHANZq0HC .text1,
.cid-rzHANZq0HC .btn1 {
  color: #f7f7f7;
}
.cid-rzHANZq0HC .text2,
.cid-rzHANZq0HC .btn2 {
  color: #f7f7f7;
}
.cid-rzHANZq0HC .iconfont-wrapper {
  border-left: none;
}
.cid-rzHANZq0HC .iconfont-wrapper .mbr-iconfont svg {
  fill: currentColor;
}
.cid-rzHAFIEmm9 {
  padding-top: 3rem;
  padding-bottom: 18rem;
  background-color: #ffffff;
}
.cid-rzHAFIEmm9 .mbr-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rzHAFIEmm9 .relative {
  position: relative;
}
.cid-rzHAFIEmm9 .img-wrapper {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 100%;
}
.cid-rzHAFIEmm9 .mbr-section-title {
  color: #29282d;
  text-align: right;
}
.cid-rzHAFIEmm9 .mbr-text,
.cid-rzHAFIEmm9 .mbr-section-btn {
  color: #b9b9b9;
  text-align: right;
}
.cid-rzHAFIEmm9 .vcenter {
  margin: auto;
  max-width: 600px;
}
.cid-rzHAFIEmm9 .count {
  color: #dadada;
  font-weight: 400;
  margin-bottom: -35px;
  text-align: right;
}
.cid-rzHAFIEmm9 .video-block {
  width: 100%;
}
@media (max-width: 991px) {
  .cid-rzHAFIEmm9 {
    padding-bottom: 0 !important;
  }
  .cid-rzHAFIEmm9 .mbr-section-btn {
    margin-bottom: 2rem;
  }
  .cid-rzHAFIEmm9 .vcenter {
    margin-top: 2rem;
  }
  .cid-rzHAFIEmm9 .img-wrapper {
    position: relative;
    top: 1rem;
    left: 0;
  }
}
.cid-qTndCvSes7 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-qTndCvSes7 .valign {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
}
.cid-qTndCvSes7 h2,
.cid-qTndCvSes7 h3 {
  margin-bottom: 2rem;
}
.cid-qTndCvSes7 .progress {
  width: 100%;
  border-radius: 0;
}
.cid-qTndCvSes7 .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cid-qTndCvSes7 .progressbar-title p {
  margin-bottom: 0;
}
.cid-qTndCvSes7 progress {
  height: 8px;
  margin-top: 5px;
}
.cid-qTndCvSes7 .progressbar-number {
  display: inline-block;
}
.cid-qTndCvSes7 .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-qTndCvSes7 .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qTndCvSes7 .section-content-title {
  margin: 0 0 0.5rem 0;
}
.cid-qTndCvSes7 .progress_value {
  position: relative;
}
.cid-qTndCvSes7 .progress1 .progressbar-number:before,
.cid-qTndCvSes7 .progress2 .progressbar-number:before,
.cid-qTndCvSes7 .progress3 .progressbar-number:before,
.cid-qTndCvSes7 .progress4 .progressbar-number:before,
.cid-qTndCvSes7 .progress5 .progressbar-number:before {
  position: absolute;
  right: 15px;
  top: 0;
}
.cid-qTndCvSes7 progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qTndCvSes7 progress::-webkit-progress-value {
  background: #f34e3a;
}
.cid-qTndCvSes7 progress[value]::-moz-progress-bar {
  background: #f34e3a;
}
.cid-qTndCvSes7 progress::-ms-fill {
  background: #f34e3a;
}
.cid-qTndCvSes7 .progress1 .progressbar-number:before {
  content: "100";
}
.cid-qTndCvSes7 .progress2 .progressbar-number:before {
  content: "90";
}
.cid-qTndCvSes7 .progress3 .progressbar-number:before {
  content: "80";
}
.cid-qTndCvSes7 .progress4 .progressbar-number:before {
  content: "70";
}
.cid-qTndCvSes7 .progress5 .progressbar-number:before {
  content: "60";
}
@media (min-width: 992px) {
  .cid-qTndCvSes7 .text-elements {
    padding-right: 3rem;
  }
  .cid-qTndCvSes7 .progress_elements {
    padding-left: 3rem;
  }
}
.cid-qTndCvSes7 .pb1 {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.cid-qTndCvSes7 .progressbar-title p,
.cid-qTndCvSes7 .progress_value {
  color: #29282d;
}
.cid-qTndCvSes7 .mbr-section-title {
  color: #29282d;
}
.cid-qTndCvSes7 .mbr-section-subtitle {
  color: #585858;
}
.cid-qTndMUYJLp {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-qTndMUYJLp .mbr-col-lg-6 {
  padding-right: 5rem;
  padding-left: 5rem;
}
.cid-qTndMUYJLp .mbr-section-title {
  color: #29282d;
}
.cid-qTndMUYJLp .mbr-text,
.cid-qTndMUYJLp .mbr-section-btn {
  color: #b9b9b9;
}
.cid-qTndMUYJLp .vcenter {
  margin: auto;
  max-width: 600px;
}
.cid-qTndMUYJLp .count,
.cid-qTndMUYJLp .count2 {
  color: #dadada;
  font-weight: 400;
  margin-bottom: -35px;
}
.cid-qTndMUYJLp .video-block {
  width: 100%;
}
@media (max-width: 991px) {
  .cid-qTndMUYJLp .mbr-section-btn {
    margin-bottom: 2rem;
  }
  .cid-qTndMUYJLp .vcenter {
    margin-top: 2rem;
  }
}
@media (max-width: 576px) {
  .cid-qTndMUYJLp .mbr-col-lg-6 {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}
.cid-qTndMUYJLp .text2,
.cid-qTndMUYJLp .mbr-section-btn2 {
  color: #b9b9b9;
}
.cid-qTndOPPalB {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("assets/images/background4.jpg");
}
.cid-qTndOPPalB .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
.cid-qTndOPPalB P {
  letter-spacing: 3px;
}
.cid-qTndOPPalB .card-text {
  margin: auto;
  max-width: 800px;
  padding-bottom: 2rem;
}
.cid-qTndOPPalB .name {
  max-width: 800px;
  margin: auto;
  font-weight: 400;
}
.cid-qTndOPPalB .title-wrap:hover .line {
  width: 6rem;
}
.cid-qTndOPPalB .amp-carousel-button {
  background-color: transparent;
}
.cid-qTndOPPalB .amp-carousel-button:hover {
  cursor: pointer;
}
.cid-qTndOPPalB .amp-carousel-button-next,
.cid-qTndOPPalB .amp-carousel-button-prev {
  filter: brightness(300%);
  background-size: 40px 40px;
}
.cid-qTndOPPalB .amp-carousel-button-next:focus,
.cid-qTndOPPalB .amp-carousel-button-prev:focus {
  outline: none;
}
.cid-qTndOPPalB amp-carousel {
  height: 400px;
}
.cid-qTndOPPalB .slide-wrap {
  height: auto;
  margin: auto;
}
.cid-qTndOPPalB .carousel,
.cid-qTndOPPalB .slider-box {
  position: relative;
}
.cid-qTndOPPalB .card-title {
  margin-bottom: 1rem;
}
.cid-qTndOPPalB .card-signature {
  margin-bottom: 1rem;
}
.cid-qTndOPPalB .dots-wrapper {
  justify-content: center;
  display: flex;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
}
.cid-qTndOPPalB .dots span {
  display: inline-block;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  margin: 4px;
  outline: none;
  background-color: #585858;
}
.cid-qTndOPPalB .dots span.current {
  background-color: #f34e3a;
}
@media (max-width: 991px) {
  .cid-qTndOPPalB .slide-wrap {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .cid-qTndOPPalB .card-text {
    max-width: 500px;
  }
}
@media (max-width: 767px) {
  .cid-qTndOPPalB .slide-wrap {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .cid-qTndOPPalB .amp-carousel-button {
    display: none;
  }
}
.cid-qTndTp0qLu {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-qTndTp0qLu .mbr-iconfont {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0.5rem;
}
.cid-qTndTp0qLu .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
.cid-qTndTp0qLu .mbr-section-btn {
  margin-top: 1rem;
}
.cid-qTndTp0qLu h2 {
  margin-bottom: 2.5rem;
}
.cid-qTndTp0qLu .bg1 {
  background-image: url("assets/images/ditadavin-1.JPG");
  background-size: cover;
  background-clip: content-box;
  background-position: center;
}
.cid-qTndTp0qLu .bg2 {
  background-image: url("assets/images/ditadavin-2.JPG");
  background-size: cover;
  background-clip: content-box;
  background-position: center;
}
.cid-qTndTp0qLu .bg3 {
  background-image: url("assets/images/ditadavin-3.JPG");
  background-size: cover;
  background-clip: content-box;
  background-position: center;
}
.cid-qTndTp0qLu .bg4 {
  background-image: url("assets/images/ditadavin-4.JPG");
  background-size: cover;
  background-clip: content-box;
  background-position: center;
}
.cid-qTndTp0qLu .card {
  margin-bottom: 20px;
  position: relative;
  min-width: 0;
  border-radius: 0;
  width: 100%;
  min-height: 400px;
}
.cid-qTndTp0qLu .card-wrapper {
  margin-bottom: 1rem;
}
.cid-qTndTp0qLu .card-wrapper:hover .card-box {
  opacity: 1;
}
.cid-qTndTp0qLu .card-box {
  transition: all 0.3s;
  position: absolute;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  clip-path: inset(0px 15px 0px 15px);
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 991px) {
  .cid-qTndTp0qLu .card-box {
    opacity: 1;
  }
}
.cid-qTndTp0qLu amp-img {
  width: 100%;
}
.cid-qTndTp0qLu .mbr-section-title {
  color: #29282d;
}
.cid-qThxorf2B8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #29282d;
}
.cid-qThxorf2B8 .text1 {
  color: #b9b9b9;
}
.cid-qThxorf2B8 h4 {
  margin: 0;
}
[class*="-iconfont"] {
  display: inline-flex;
}
.cid-t9bzD6fwvA .mbr-row {
  justify-content: center;
}
@media (min-width: 768px) {
  .cid-t9bzD6fwvA .mbr-row {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
.cid-t9bzD6fwvA p {
  margin: 0;
  padding: 0;
}
.cid-t9bzD6fwvA .card-wrapper {
  background: #ffffff;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .cid-t9bzD6fwvA .card-wrapper {
    padding: 1rem;
  }
}
.cid-t9bzD6fwvA .form-wrapper .mbr-section-btn {
  margin: 0.5rem;
}
.cid-t9bzD6fwvA .form-wrapper .mbr-section-btn .btn {
  margin: 0;
}
.cid-t9bzD6fwvA .card-img amp-img {
  width: 100%;
  margin: auto;
}
.cid-t9bzD6fwvA .card-title {
  width: 100%;
  margin: 0;
  line-height: 1.5;
  color: #f34e3a;
}
.on-load-popup.cid-t9bzD6fwvA .mbr-popup,
amp-lightbox.cid-t9bzD6fwvA .mbr-popup {
  width: 100%;
  min-height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}
.cid-t9bzD6fwvA.on-load-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  animation: show;
  animation-fill-mode: forwards;
  visibility: hidden;
  overflow-y: auto;
  z-index: 1000;
}
.cid-t9bzD6fwvA.on-load-popup .popup-close > span {
  width: 24px;
  height: 24px;
}
@keyframes show {
  100% {
    visibility: visible;
  }
}
.cid-t9bzD6fwvA .mbr-popup .popup-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.75;
}
.cid-t9bzD6fwvA .mbr-popup .popup-close svg {
  fill: #353535;
}
.cid-t9bzD6fwvA .mbr-popup .popup-close:hover {
  opacity: 1;
}
.cid-t9bzD6fwvA .mbr-popup .popup-close:focus {
  outline: none;
}
.cid-t9bzD6fwvA .mbr-popup .popup-close > span {
  font-size: 24px;
  color: #000000;
}
.cid-t9bzD6fwvA .popup-notification {
  width: 100%;
  margin-top: 3rem;
  color: #fff;
  font-size: 25px;
  text-align: center;
}
.cid-t9bzD6fwvA .mbr-form {
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) {
  .cid-t9bzD6fwvA .mbr-form {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
  }
}
.cid-t9bzD6fwvA .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-t9bzD6fwvA.popup-builder {
  background-color: #fff;
}
.cid-t9bzD6fwvA.popup-builder .mbr-overlay {
  position: absolute;
}
.cid-t9bzD6fwvA.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-t9bzD6fwvA.popup-builder .amp-modal-dialog {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  z-index: 2;
}
.cid-t9bzD6fwvA .amp-modal-dialog {
  margin: 0.5rem;
  padding: 0;
}
.cid-t9bzD6fwvA .mbr-form-row {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.cid-t9bzD6fwvA .mbr-form-row > [class*="mbr-col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.cid-t9bzD6fwvA .field {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cid-t9bzD6fwvA .submit-message {
  width: 100%;
}
.cid-t9bzD6fwvA .mbr-form-row > div {
  margin-bottom: 0;
}
.cid-t9bzD6fwvA .mbr-overlay {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
}
.cid-t9bzD6fwvA .container {
  position: static;
}
@media (min-width: 576px) {
  .cid-t9bzD6fwvA .amp-modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-t9bzD6fwvA .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .cid-t9bzD6fwvA .modal-lg,
  .cid-t9bzD6fwvA .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .cid-t9bzD6fwvA .modal-xl {
    max-width: 1140px;
  }
}
.cid-t9bzD6fwvA .popup-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
}
.cid-t9bzD6fwvA .popup-text {
  margin-bottom: 1rem;
}
.cid-t9bzD6fwvA .popup-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
.cid-t9bzD6fwvA .popup-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.cid-t9bzD6fwvA .pt-0 {
  padding-top: 0;
}
.cid-t9bzD6fwvA .pb-0 {
  padding-bottom: 0;
}
